<!DOCTYPE html>
<htnl>
    <head>
        <title>Create New Account</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../css/signup.css">
    </head>
    <style>
        body
{
    color:#999;
    font-family: 'Roboto',sans-serif;
    background-image: url(back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  
}
.form-control
{
   min-height: 41px;
   box-shadow: none;
   border-color:#e1e1e1;
}
.form-control:focus
{
    border-color:#00cb82;
}
.form-control,.btn
{
    border-radius: 30px;;
}
.form-header
{
    margin:-30px -30px 20px;
    padding: 30px 30px 10px;
    text-align: center;
    background: #00cb82;
    border-bottom: 1px sloid #eee;;
    color:#fff;
}
.form-header h2
{
    font-size:34px;
    font-weight: bold;
    margin:0 0 10px;
    font-family: 'Pacifico',sans-serif;

}
.signup-form
{
    width:390px;
    border-radius:15px;
    padding:30px 0;
    margin: auto auto;
}
.signup-form form
{
    color:#999;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #f0f0f0;
    box-shadow:0px 2px 2px rgba(0,0,0,3);
    padding:30px;
}
.signup-form .form-group
{
    margin-bottom:20px;
}
.signup-form label
{
    font-weight: normal;
    font-size: 13px;
    
}
.signup-form input[type="checkbox"]
{
    margin-top:2px;
}
.signup-form .btn
{
    font-size:16px;
    font-weight:bold;
    background:#00cb82;
    border:none;
    min-width:200px;

}
.signup-form .btn:hover,.signin-form .btn:focus 
{
    background:#00b073;
    outline:none;
}
.signup-form a
{
    color:#00cb82;
}
.signup-form a:hover
{
    text-decoration:underline;
}
    </style>
    <body>
        <div class="signup-form">
            <form action="/signup" method="POST">
                <div class="form-header">
                <h2>Sign Up</h2>
                <p>Create And Get Connected With Us</p>
                </div>
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" name="username"
                    autocomplete="off" placeholder="Ishant508"
                    required/>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="userpass"
                    autocomplete="off" placeholder="Password"
                    required/>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" name="useremail"
                    autocomplete="off" placeholder="something@site.com"
                    required/>
                </div>
                <div class="form-group">
                    <label>Country</label>
                    <select class="form-control" name="usercountry" required/>
                    <option disabled=" ">Select Country</option>
                    <option >India</option>
                    <option >U.S.A.</option>
                    <option >Pakistan</option>
                    <option >China</option>
                    <option >Australia</option>
                  </select>
                </div>
                <div class="form-group">
                    <label>Gender</label>
                    <select class="form-control" name="usergender" required/>
                    <option disabled=" ">Select Gender</option>
                    <option >Male</option>
                    <option >Female</option>
                    <option >Others</option>
                  </select>
                </div>
                <div class="form-group">
                   <label><input type="checkbox" required/>  I accept the<a href="#">Terms of Use</a>&amp;<a href="#">
                       Privacy Policy
                   </a></label>
                </div>
             
                <div class="form-group">
                    <button type="submit" name="signup" 
                    class="btn btn-primary btn-block btn-lg"
                    onclick="callSignup()"
                    >SignUp</button>
                </div>

            </form>
            <div class="text-center small" style="color:#674288">Already have an account
            <a href="/signin">SignIn</a> </div>
        </div>
    </body>
    <script>
    </script>
</htnl>